<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <context-param>
        <param-name>beijing</param-name>
        <param-value>beautiful</param-value>
    </context-param>
<!--    <servlet>-->
<!--        <servlet-name>Config</servlet-name>-->
<!--        <servlet-class>com.ys.Config.Config01</servlet-class>-->

<!--        <init-param>-->
<!--            <param-name>China</param-name>-->
<!--            <param-value>Beijing</param-value>-->
<!--        </init-param>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>Config</servlet-name>-->
<!--        <url-pattern>/conf01</url-pattern>-->
<!--    </servlet-mapping>-->
</web-app>

